@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
}

h1{
color: rgb(4, 24, 4);
font: italic bold Georgia, Serif;
text-shadow: 0px 1.5px 0 white;
font-weight: 1000;
/* color: aliceblue; */
}

body{
  height: 500px;
  width: 100%;
  background-color: #94afa987;
  /* background: radial-gradient(circle, rgba(123,240,20,1) 0%, rgba(58,175,180,1) 24%, rgba(253,29,48,1) 85%); */
}

.container{
  height: 485px;
  width: 350px;
  border: 3px dashed rgba(12,43,43,1);
  border-radius: 3%;
  background-color:#00f6ffa8;
}

.button{
  width: 66px;
  color: white;
  font-size: xx-large;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px; */
  box-shadow: 0px 8px 14px -1px gray;
  /* box-shadow: 5px 6px 4px 1px grey; */
  background:  rgba(12,43,43,1);
  padding: 12px;
  margin: 0 3px;
  border: 1px solid white;
  border-radius: 9px;
  cursor: pointer;
}

.row{
  margin: 8px 0;
}
.row input{
    width: 291px;
    font-size: xx-large;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(189 207 152 / 93%);
}


/* -------------------------------- */
.text-center{
    text-align: center;
  }
  
  .bg-red{
    background: red;
  }
  
  .mx-auto{
    margin: auto;
  }
  
  .flex{
    display:flex;
  } 
  .flex-col{
    flex-direction: column;
  }
  
  .items-center{
    align-items: center;
  }